<border>
    <div class="outer-box">
        <div class="header">
            <div class="logo">
                <img src="assets/qLogo.png" width="150px" alt="logo" />
            </div>
            <div class="user-profile">
                <div class="user-details">
                    <div class="name">James Smith</div>
                    <div class="level">Grade 3 Science</div>
                </div>

                <div class="JS">JS</div>
            </div>
        </div>

        <div class="schedule">
            <h2 class="your-schedule">Your Schedule</h2>
            <p class="info">You can find all your virtual meetings booked on Qknow here.</p>
        </div>

        <div class="schedule-info">
            <div class="details">
                <ul>
                    <li>
                        <div class="booking">
                            <div class="information">
                                <div class="date">
                                    <div class="month">June</div>
                                    <div class="day-number">10</div>
                                    <div class="day">Wednesday</div>
                                </div>
                                <div class="jessica-details">
                                    <div class="jessica">Jessica Raymond</div>
                                    <div class="jessica-code">TBK-001</div>
                                    <div class="both-time">
                                        <button class="time">8:30PM</button>
                                        <button class="hours">2 hours</button>
                                    </div>
                                </div>
                            </div>
                            <div class="todo">
                                <button class="join">Join</button>
                                <button class="cancel">Cancel</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="booking">
                            <div class="information">
                                <div class="date">
                                    <div class="month">June</div>
                                    <div class="day-number">10</div>
                                    <div class="day">Wednesday</div>
                                </div>
                                <div class="jessica-details">
                                    <div class="jessica">Kwame Osei-Poku</div>
                                    <div class="jessica-code">TBK-011</div>
                                    <div class="both-time">
                                        <button class="time">8:30PM</button>
                                        <button class="hours">1 hour</button>
                                    </div>
                                </div>
                            </div>
                            <div class="todo">
                                <button class="join">Join</button>
                                <button class="cancel">Cancel</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="vertical-line"></div>

            <div class="online-meeting">
                <div class="video">
                    <!-- <img src="assets/video2.png" width="100"  height="100" alt="video" /> -->
                </div>
                <div class="meeting-time">
                    <h3 class="meeting-heading">Configure your meeting settings</h3>
                    <p class="meeting-adjust">You can customize your meeting settings to turn your video and
                        microphone on or off according to your preferences.</p>
                </div>
            </div>
        </div>
    </div>
</border>