/* body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    padding:0;
    box-sizing: border-box
}

.session{
   display: flex;
   justify-content: center;
   align-items: center; 
   height: 100vh;
   border: 10px solid #1F4C73;
   border-radius: 20px;
   padding: 20px;
   box-sizing: border-box;
   background-color: white;  
}

.login{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}

.logo{
    width: 150px;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #1F4C73;
    display: inline;
  }

.input-box{
    width: 100%;
    margin-bottom: 15px;
}

.input-box input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #E3E5E4;
    border-radius: 10px;
    box-sizing: border-box;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #1F4C73;
    color: white;
    border: none;
    border-radius: 10px;
    cursor:pointer;
    box-sizing: border-box;
} */